FQLPay.framework/FQLPay filter=lfs diff=lfs merge=lfs -text
MGFaceIDIDCardKernelKit.framework/MGFaceIDIDCardKernelKit filter=lfs diff=lfs merge=lfs -text
MGFaceIDLiveDetect.framework/MGFaceIDLiveDetect filter=lfs diff=lfs merge=lfs -text
